name: ARA CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t ara-app .

    - name: Run Container
      run: docker run -d -p 8080:80 ara-app
